In [1]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline

In [2]:
df = pd.read_csv("credit_card_fraud_10k.csv")

In [3]:
df

,transaction_id,amount,transaction_hour,merchant_category,foreign_transaction,location_mismatch,device_trust_score,velocity_last_24h,cardholder_age,is_fraud
0,1,84.47,22,Electronics,0,0,66,3,40,0
1,2,541.82,3,Travel,1,0,87,1,64,0
2,3,237.01,17,Grocery,0,0,49,1,61,0
3,4,164.33,4,Grocery,0,1,72,3,34,0
4,5,30.53,15,Food,0,0,79,0,44,0
...,...,...,...,...,...,...,...,...,...,...
9995,9996,350.91,22,Food,0,0,99,4,37,0
9996,9997,410.04,5,Clothing,0,0,70,3,25,0
9997,9998,527.75,21,Electronics,0,0,44,2,45,0
9998,9999,91.20,2,Electronics,0,0,38,0,37,0
9999,10000,44.06,2,Clothing,0,0,38,0,66,0

In [4]:
df = df.drop(columns="transaction_id")

In [5]:
df

,amount,transaction_hour,merchant_category,foreign_transaction,location_mismatch,device_trust_score,velocity_last_24h,cardholder_age,is_fraud
0,84.47,22,Electronics,0,0,66,3,40,0
1,541.82,3,Travel,1,0,87,1,64,0
2,237.01,17,Grocery,0,0,49,1,61,0
3,164.33,4,Grocery,0,1,72,3,34,0
4,30.53,15,Food,0,0,79,0,44,0
...,...,...,...,...,...,...,...,...,...
9995,350.91,22,Food,0,0,99,4,37,0
9996,410.04,5,Clothing,0,0,70,3,25,0
9997,527.75,21,Electronics,0,0,44,2,45,0
9998,91.20,2,Electronics,0,0,38,0,37,0
9999,44.06,2,Clothing,0,0,38,0,66,0

In [6]:
encoder = OneHotEncoder(sparse_output=False)

In [7]:
encoded_merchant_category = encoder.fit_transform(df[["merchant_category"]])

In [8]:
encoded_merchant_category

array([[0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.]])

In [9]:
encoded_merchant_category = pd.DataFrame(
    encoded_merchant_category,
    columns= encoder.get_feature_names_out(['merchant_category'])
)

In [10]:
encoded_merchant_category

,merchant_category_Clothing,merchant_category_Electronics,merchant_category_Food,merchant_category_Grocery,merchant_category_Travel
0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...
9995,0.0,0.0,1.0,0.0,0.0
9996,1.0,0.0,0.0,0.0,0.0
9997,0.0,1.0,0.0,0.0,0.0
9998,0.0,1.0,0.0,0.0,0.0
9999,1.0,0.0,0.0,0.0,0.0

In [11]:
df = df.drop('merchant_category', axis=1)

In [12]:
final_df = pd.concat([df, encoded_merchant_category], axis=1)

In [13]:
final_df['is_fraud'] = final_df.pop('is_fraud')

In [14]:
final_df

,amount,transaction_hour,foreign_transaction,location_mismatch,device_trust_score,velocity_last_24h,cardholder_age,merchant_category_Clothing,merchant_category_Electronics,merchant_category_Food,merchant_category_Grocery,merchant_category_Travel,is_fraud
0,84.47,22,0,0,66,3,40,0.0,1.0,0.0,0.0,0.0,0
1,541.82,3,1,0,87,1,64,0.0,0.0,0.0,0.0,1.0,0
2,237.01,17,0,0,49,1,61,0.0,0.0,0.0,1.0,0.0,0
3,164.33,4,0,1,72,3,34,0.0,0.0,0.0,1.0,0.0,0
4,30.53,15,0,0,79,0,44,0.0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,350.91,22,0,0,99,4,37,0.0,0.0,1.0,0.0,0.0,0
9996,410.04,5,0,0,70,3,25,1.0,0.0,0.0,0.0,0.0,0
9997,527.75,21,0,0,44,2,45,0.0,1.0,0.0,0.0,0.0,0
9998,91.20,2,0,0,38,0,37,0.0,1.0,0.0,0.0,0.0,0
9999,44.06,2,0,0,38,0,66,1.0,0.0,0.0,0.0,0.0,0

In [16]:
final_df.to_csv("processed_data.csv")